.choosetable{width:100px; height:42px; margin:20px; border: 0;}
.td{padding-top: 20px;padding-right: 10px;}
.startInput{width:85px;height:35px; background:#056dae no-repeat center; font-size:14px;font-weight:bold;color:#fff; cursor:pointer;border-radius:3px;margin-left: 150px}
